<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Pay Rate Calculator</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="home">
  
  <div class="container" ng-app="payrateApp">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h1><strong>Pay Rate Calculator</strong></h1>
      </div>
    </div>
    
    <!-- hour day week month year -->
    <div class="row" ng-controller="PayrateController">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <table class="table">
          <thead>
            <tr>
              <th>Hour</th>
              <th>Day</th>
              <th>Week</th>
              <th>Month</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- Hour -->
              <td>
                <div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control input-pay" data-scale="hour" id="pay-hour" placeholder="0.00" ng-model="pay.hour">
								</div>
              </td>
              
              <!-- Day -->
              <td>
                <div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control input-pay" data-scale="day" id="pay-day" placeholder="0.00" ng-model="pay.day">
								</div>
              </td>
              
              <!-- Week -->
              <td>
                <div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control input-pay" data-scale="week" id="pay-week" placeholder="0.00" ng-model="pay.week">
								</div>
              </td>
              
              <!-- Month -->
              <td>
                <div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control input-pay" data-scale="month" id="pay-month" placeholder="0.00" ng-model="pay.month">
								</div>
              </td>
              
              <!-- Year -->
              <td>
                <div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control input-pay" data-scale="year" id="pay-year" placeholder="0.00" ng-model="pay.year">
								</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- /.container -->
  
  
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
  
  <script type="text/javascript">
    var PayRate = PayRate || {};
    
    PayRate.Scale = {
      "lt": "lt",
      "gt": "gt",
      "eq": "eq"
    };
    
    PayRate.makeScale = function(name, factor, id) {
      return {
        "name": name,
        "factor": factor,
        "id": id
      };
    };
    
    // Determines if 'Scale1' is greater than, less than or equal to 'Scale2'.
    PayRate.cmpSc = function(scale1, scale2) {
      if(scale1["id"] > scale2["id"])
        return PayRate.Scale.gt;
      if(scale1["id"] < scale2["id"])
        return PayRate.Scale.lt;
      return PayRate.eq;
    };
    
    // Determines the next scale in 'PayRate.Scales' based on
    // a scale 's', and a comparision value ('lt', 'gt)
    PayRate.nxtSc = function(s, ratio) {
      // If 'less than', then return the next larger scale.
      if(_.isEqual(ratio, PayRate.Scale["lt"]))
        return PayRate.Scales[s["id"] + 1];
      // If 'greater than', then return the next smaller scale.
      else if(_.isEqual(ratio, PayRate.Scale["gt"]))
        return PayRate.Scales[s["id"] - 1];
    }
    
    PayRate.Hour =  PayRate.makeScale("hour",  1, 0);
    PayRate.Day =   PayRate.makeScale("day",   8, 1);
    PayRate.Week =  PayRate.makeScale("week",  5, 2);
    PayRate.Month = PayRate.makeScale("month", 4, 3);
    PayRate.Year =  PayRate.makeScale("year", 12, 4);
    PayRate.Scales = [PayRate.Hour, PayRate.Day, PayRate.Week, PayRate.Month, PayRate.Year];
    
    PayRate.Pay = function(amount, scale) {
      this.amount = typeof(amount) !== "undefined" ? amount : 0;
      this.scale = typeof(scale) !== "undefined" ? scale : PayRate.Hour;
      return this;
    };
    
    // Get the factor, multiply or divide, then change the internal scale.
    PayRate.Pay.prototype.doOperation = function(newScale) {
      var res = this.getFactor(this.scale, newScale);
      
      if(_.isEqual(res["ratio"], PayRate.Scale["lt"]) === true) {
        // Divide.
        this.amount = this.amount * res["factor"];
      }
      else if(_.isEqual(res["ratio"], PayRate.Scale["gt"]) === true) {
        // Multiply.
        this.amount = this.amount / res["factor"];
      }
      this.scale = newScale;
    }
    
    PayRate.Pay.prototype.hour = function() {
      this.doOperation(PayRate.Hour);
      return this;
    }
    
    PayRate.Pay.prototype.day = function() {
      this.doOperation(PayRate.Day);
      return this;
    }
    
    PayRate.Pay.prototype.week = function() {
      this.doOperation(PayRate.Week);
      return this;
    }
    
    PayRate.Pay.prototype.month = function() {
      this.doOperation(PayRate.Month);
      return this;
    }
    
    PayRate.Pay.prototype.year = function() {
      this.doOperation(PayRate.Year);
      return this;
    }
    
    PayRate.Pay.prototype.getFactor = function(scale1, scale2) {
      // If scale is itself, return 1.
      if(_.isEqual(scale1, scale2))
        return 1;
      // Determine if 'Scale1' is less than or greater than 'Scale2'.
      var ratio = PayRate.cmpSc(scale1, scale2);
      //console.log("Ratio is " + ratio);
      
      // Collect the scale factors.
      var factor = [];
      for(var i = scale1; 
         _.isEqual(PayRate.cmpSc(i, scale2)) === false || _.isEqual(PayRate.cmpSc(i, scale2)) === true; 
         i = PayRate.nxtSc(i, ratio)) {
        
        // If it is the last loop, push only if descending.
        if(_.isEqual(PayRate.cmpSc(i, scale2)) === true) {
          if(_.isEqual(ratio, PayRate.Scale["gt"]) === false) {
            //console.log("Last loop. i is now " + i["name"] + "\n");
            factor.push(i["factor"]);
          }
          break;
        }
        
        //console.log("i is now " + i["name"] + "\n");
        // If the ratio is ascending, and the counter is the first scale.
        if(_.isEqual(ratio, PayRate.Scale["lt"]) === true && _.isEqual(i, scale1) === true)
          //console.log("Ratio Ascending, counter first scale");
          ;
        // If the ratio is descending, and the counter is the last scale.
        else if(_.isEqual(ratio, PayRate.Scale["gt"]) === true && _.isEqual(i, scale2) === true)
          //console.log("Ratio Descending, counter last scale");
          ;
        else 
          factor.push(i["factor"]);
      }
      
      // Reduce factors into a single value.
      factor = _.reduce(factor, function(a, b) {return a * b;}, 1);
      return {
        "factor": factor, 
        "ratio": ratio
      };
    };
    
  </script>
  
  <script type="text/javascript">
    
    function clearAllPayRates() {
      $(".input-pay").each(function() {
        $(this).val("");
      });
    }
    
    // Update all PayRate inputs based on parameters 'amount' and 'scale'.
    function updateAllPayRates(amount, scale) {
      function capitalise(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
      scale = capitalise(scale);
      
      $(".input-pay").each(function() {
        var This = $(this);
        var elementScale = This.data("scale");
        var stringFunction = "return new PayRate.Pay("+ amount.toString() + ", PayRate['" + scale.toString() + "'])." + elementScale + "()";
        var newPayRate = new Function(stringFunction)();
        This.val(newPayRate.amount);
      });
    }
  </script>
  
  <script type="text/javascript">
    (function() {
      
      var app = angular.module("payrateApp", []);
      
      app.controller("PayrateController", ["$scope", function($scope) {
        $scope.pay = {
          "hour": "",
          "day": "",
          "week": "",
          "month": "",
          "year": "",
        };
      }]);
      
      app.directive("inputPay", function() {
        return {
          restrict: "C",
          link: function(scope, elem, attrs) {
            
            // Watch the directive's model (pay.hour, pay.day, pay.week, pay.month, pay.year).
            // If value is changed, then calculate new payrate for all inputs.
            scope.$watch(attrs.ngModel, function(newValue) {
              if(newValue == "") {
                clearAllPayRates();
              }
              else {
                var parsedVal = parseFloat(newValue) || null;
                // Check if 'newValue' was parsed correctly, and is a number.
                if(parsedVal !== null)
                  // Update all inputs.
                  updateAllPayRates(parsedVal, attrs.scale);
              }
            });
          }, //.link
        };
      }); //.directive
      
    })();
  </script>
  
  <!-- script type="text/javascript">
    $(document).ready(function() {
      // Apply the payrate conversion to all inputs except the one that is focused.
      $(".input-pay").keypress(function(e) {
        var t = this;
        
        var inputChar = String.fromCharCode(e.charCode);
        // Attempt to parse the input to a number.
        var inputChar = parseFloat(inputChar);
        var num = parseFloat($(t).val()) || null;
        window.nn = {"num": num, "inputChar": inputChar};
        console.log(window.nn);
        
        if(typeof(num) !== "number")
          num = inputChar;
        else
          num += inputChar
          
        console.log("$" + num);
        
        console.log("You clicked on an input.");
        console.log("Id: " + $(this).attr("id"));
        
        console.log("-----------------------------");
        $(".input-pay").each(function(index) {
          if($(this).attr("id") === $(t).attr("id"))
            console.log("****");
          else
            console.log($(this).attr("id"));
        });
        console.log("-----------------------------");
        
      });
      
    });
  </script -->

</body>
</html>
